{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true
}
